body{
    background: black;
}
#canvas{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 5px solid white;
}
#backgroundImg, #enemyImg , #playerImg{
    display: none;
    color: pink;
}
